In [4]:
#Question1
#Assuming that we have some email addresses in the "username@companyname.com" format, please
#write a program to print the company name of a given email address. Both user names and company
#names are composed of letters only.
#Input Format:
#The first line of the input contains an email address.
#Output Format:
#Print the company name in a single line.
#Example;
#Input:
#john@google.com
#Output:
#google.


#Solution
email = "sumana.nagaraj@veoneer.com"
def extract_company(email):
    x = email.split('@')[1].split('.')[0]
    print(x)
extract_company(email)

veoneer

In [37]:
#Question 2 :
#Write a program that accepts a comma-separated sequence of words as input and prints the words in a
#comma-separated sequence after sorting them alphabetically.
#Input Format:
#The first line of input contains words separated by the comma.
#Output Format:
#Print the sorted words separated by the comma.
#Example:
#Input:
#without,hello,bag,world
#Output:
#bag,hello,without,world


#Solution
y="without,hello,bag,world"
y=y.split(",")
y=sorted(y)
print(",".join(y))

bag,hello,without,world

In [47]:
#Question 3:
#Create your own Jupyter Notebook for Sets. Reference link:
#https://www.w3schools.com/python/python_sets.asp

#Solution 
#1 Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)


#2 Access items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)


#3 Add items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#4 update function
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)


#5 Remove item
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)


#6 union of sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)


#7 set constructor
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'apple', 'cherry', 'banana'}
apple
cherry
banana
{'apple', 'cherry', 'banana', 'orange'}
{'apple', 'cherry', 'banana', 'orange', 'grapes', 'mango'}
{'apple', 'cherry'}
{'a', 1, 2, 3, 'b', 'c'}
{'apple', 'cherry', 'banana'}

In [10]:
#Question 4:
#Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
#duplicates.
#Input Format:
#The first line contains n-1 numbers with each number separated by a space.
#Output Format:
#Print the missing number
#Example:
#Input:
#1 2 4 6 3 7 8
#Output:
#5
#Explanation:
#In the above list of numbers 5 is missing and hence 5 is the input


#Solution
test_list = [3, 5, 6, 8, 10]
print("The original list : " + str(test_list))
res = [ele for ele in range(max(test_list)) if ele not in test_list] 
print("The list of missing elements : " + str(res))

The original list : [3, 5, 6, 8, 10]
The list of missing elements : [0, 1, 2, 4, 7, 9]

In [9]:
#Question 5:
#With a given list L, write a program to print this list L after removing all duplicate values with original order
#reserved.
#Example:
#If the input list is
#12 24 35 24 88 120 155 88 120 155
#Then the output should be
#12 24 35 88 120 155
#Explanation:
#Third, the seventh and ninth element of the list L has been removed because it was already present.
#Input Format:
#In one line take the elements of the list L with each element separated by a space.
#Output Format:
#Print the elements of the modified list in one line with each element separated by a space.
#Example:
#Input:
#12 24 35 24
#Output:
#12 24 35


#Solution
import numpy as np
a = [12,24,35,24]
x = np.array(a)
print(np.unique(x))

[12 24 35]

[12 24 35]